*.phar
*.lock
*.txt
*.log
*.obj
*.d
*.index
*.out
*.xmi
*.xml
*.snap
*.version



Dario_wake_up/.metadata/**
Dario_wake_up/simplebroadcast_improved_recharge/Debug/**
Dario_wake_up/simplebroadcast_improved_recharge/.launches/**
Dario_wake_up/simplebroadcast_improved_recharge/.settings/**
Dario_wake_up/simplebroadcast_improved_recharge/cc26xxware_2_22_00_16101/**


SO_WS_BLE_ADV_URI/.metadata/**
SO_WS_BLE_ADV_URI/simplebroadcast_improved_recharge/Debug/**
SO_WS_BLE_ADV_URI/simplebroadcast_improved_recharge/.launches/**
SO_WS_BLE_ADV_URI/simplebroadcast_improved_recharge/.settings/**
SO_WS_BLE_ADV_URI/simplebroadcast_improved_recharge/cc26xxware_2_22_00_16101/**