composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
*.lock
Dario_wake_up/.metadata/.log

Dario_wake_up/.metadata/.plugins/org.eclipse.cdt.core/.log
*.index
Dario_wake_up/.metadata/.plugins/org.eclipse.core.resources/.projects/simplebroadcast_improved_recharge/com.ti.ccstudio.project.core/Debug/linkerFlags.txt
*.txt
Dario_wake_up/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
*.tree
Dario_wake_up/.metadata/.plugins/org.eclipse.rse.core/.log
*.log
*.obj
*.d
Dario_wake_up/simplebroadcast_improved_recharge/Debug/cc26xxware_2_22_00_16101/driverLib/bin/ccs/subdir_rules.mk

*.opt
*.out
Dario_wake_up/simplebroadcast_improved_recharge/Debug/makefile
*.xmi
SO_WS_BLE_ADV_URI/.metadata/.plugins/org.eclipse.core.resources/.history/0/60211055ce1c00161f89b84534f8389a
SO_WS_BLE_ADV_URI/.metadata/.plugins/org.eclipse.core.resources/.history/1/00b49254ce1c00161f89b84534f8389a
SO_WS_BLE_ADV_URI/.metadata/.plugins/org.eclipse.core.resources/.history/10/201bf754ce1c00161f89b84534f8389a
SO_WS_BLE_ADV_URI/.metadata/.plugins/org.eclipse.core.resources/.history/**

SO_WS_BLE_ADV_URI/simplebroadcast_improved_recharge/Debug
*.xml
*.snap
*.version

SO_WS_BLE_ADV_URI/.metadata/.plugins/**
SO_WS_BLE_ADV_URI/simplebroadcast_improved_recharge/.launches/**
SO_WS_BLE_ADV_URI/simplebroadcast_improved_recharge/.settings/**
Dario_wake_up/.metadata/version.ini
Dario_wake_up/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
*.prefs
Dario_wake_up/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
Dario_wake_up/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
Dario_wake_up/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.katrin_think_0/FP.local.files_0/node.properties
Dario_wake_up/RemoteSystemsTempFiles/.project
Dario_wake_up/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.mark
Dario_wake_up/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.katrin_think_0/H.local_16/node.properties
Dario_wake_up/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.katrin_think_0/node.properties
Dario_wake_up/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp